/*
body {
  background: no-repeat right -20px bottom 0px / 75% url('../confidential.png');
}
*/

.page .section.toc h1:before {
  display: none;
}

.page .section.toc ol a:before {
  display: inline;
  content: counter(toc) ". ";
  padding-right: 5px;
  counter-increment: toc;
}
.page .section.toc ol {
  counter-reset: toc;
}